* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

#root {
  --clr-neon: gold;
  --clr-bg: hsl(323 21% 16%);
  --clr-blueNeon: rgb(26, 221, 235);
  --clr-blddueNeon: hsl(207, 53%, 19%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: linear-gradient(
    90deg,
    rgba(31, 38, 38, 1) 0%,
    rgba(26, 64, 63, 1) 36%,
    rgba(23, 52, 75, 1) 65%,
    rgba(2, 2, 11, 1) 97%
  ); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
